#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 76px;
}


/* main section */
.expenseSection {
  font-weight: bold;
  display: flex;
  gap: 72px;
  justify-content: center;
}

.expenseTitle{
  background-color: lightblue;
text-align: left;
}

.futureExpenseTitle{
  background-color: lightcoral;
  text-align: left;
}

.rightSectionTitlesContainer{
  background-color: lightgray;
  text-align: left;
}
.rightSectionTitles{
  background-color: lightyellow;
  font-weight: xx-bold;
}


/* expense add form */
.expenseFormContainer {
  float: 1;
}

.expenseForm {
  display: grid;
  align-items: center;
  gap: 12px 16px;
  grid-template-columns: 150px 1fr;
}

.expenseForm label {
  display: contents;
}

.expenseForm label span {
  text-align: left;
  font-weight: 900;
}


.expenseForm {
  display: grid;
  gap: 12px;
}

.addExpenseBtn {
  font-size: 16px;
  font-weight: bold;
  justify-self: center;
  grid-column: 1 / -1;
}

/* expense data */
.expenseDataContainer {
  flex-direction: column;
  float: 2;
}

.filterContainer{
  background-color: skyblue;
}
.addExpenseHeader{
  background-color: lightgreen;
  font-weight: xxx-bold;
  text-align: left;
}
.addExpenseFormContainer{
background-color: lightpink;
}

.expenseTableWrapper {
  max-height: 360px;
  overflow-y: auto;
  background-color: orange;
}

.expenseTable {
  width: 100%;
  border-collapse: collapse;
  background-color: aquamarine;
}

.expenseTableTitles {
  width: 100%;
  background-color: yellow;
}

/* combine this with expenseTableTitles ^^ */
.expenseTable thead th {
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 1;
}

.expenseTable th,
.expenseTable td {
  padding: 8px;
  width: 100%;

}



.amountCol {
  text-align: right;
}

.expenseData {
  background-color: green;
}

.errorMessage {
  color: crimson;
  width: 100%;
  background-color: blue;
}

/* Right column */
.rightColumn{
  border-style: groove;
}

.pastDueExpensesInfo {
  margin-bottom: 16px;
  color: red
}

/* sign up form */
.signupForm {
  display: grid;
  align-items: center;
  gap: 12px 16px;
}


/* Icon buttons */
.actions {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
}

.iconButton.edit {
  background: none;
  border: none;
  cursor: pointer;
}

.iconButton.edit:hover {
   background-color: rgba(0, 255, 0, 0.1);

}
.iconButton.delete:hover {
  background-color: rgba(255, 0, 0, 0.1);
}