#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: lightblue;
}

body.authPages{
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #0f172a, #1e40af);
}


.content {
  flex: 1;
}


.errorMessage {
  color: crimson;
  width: 100%;
  font-weight: bold;
}

/* login page  */
.authFormContainer {
  background-color: lightgrey;
  max-width: 420px;
  margin: 100px auto;
  padding: 24px;
  border-radius: 16px;
  border-style: groove;
  border-width: 12px;
  min-height: 460px;
}

.authLogo {
  width: 240px;
  margin-bottom: 8px;
}


.authTitle {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  display: block;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.authForm label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
}

.authForm label span {
  margin-bottom: 6px;
  font-size: 14px;
  color: #444;
}

.authForm input {
  width: 60%;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-size: 16px;
  margin: 0px auto;
}

.authBtn {
  width: 60%;
  border-radius: 16px;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  margin: 12px auto;
  color: darkblue;
  background-color: darkgrey;
  cursor: pointer;
  transition: all 0.25s ease;
}

.authhover {
  background-color: grey;
  color: blue;
}
.authLinkContainer {
  padding: 30px;
}

.authLinkContainer span {
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
}

/*---------------------------------------------*/

.title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 76px;
}


/* main section */
.expenseSection {
  font-weight: bold;
  display: flex;
  gap: 72px;
  justify-content: center;
}

.expenseTitle {
  background-color: lightblue;
  text-align: left;
}

.futureExpenseTitle {
  background-color: lightcoral;
  text-align: left;
}

.rightSectionTitlesContainer {
  background-color: lightgray;
  text-align: left;
}

.rightSectionTitles {
  background-color: lightyellow;
  font-weight: xx-bold;
}


/* expense add form */
.expenseFormContainer {
  float: 1;
}

.expenseForm {
  display: grid;
  align-items: center;
  gap: 12px 16px;
  grid-template-columns: 150px 1fr;
}

.expenseForm label {
  display: contents;
}

.expenseForm label span {
  text-align: left;
  font-weight: 900;
}


.expenseForm {
  display: grid;
  gap: 12px;
}

.addExpenseBtn {
  font-size: 16px;
  font-weight: bold;
  justify-self: center;
  grid-column: 1 / -1;
}

/* expense data */
.expenseDataContainer {
  flex-direction: column;
  float: 2;
}

.filterContainer {
  background-color: skyblue;
}

.addExpenseHeader {
  background-color: lightgreen;
  font-weight: xxx-bold;
  text-align: left;
}

.addExpenseFormContainer {
  background-color: lightpink;
}

.expenseTableWrapper {
  max-height: 360px;
  overflow-y: auto;
  background-color: orange;
}

.expenseTable {
  width: 100%;
  border-collapse: collapse;
  background-color: aquamarine;
}

.expenseTableTitles {
  width: 100%;
  background-color: yellow;
}

/* combine this with expenseTableTitles ^^ */
.expenseTable thead th {
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 1;
}

.expenseTable th,
.expenseTable td {
  padding: 8px;
  width: 100%;

}



.amountCol {
  text-align: right;
}

.expenseData {
  background-color: green;
}


/* Right column */
.rightColumn {
  border-style: groove;
}

.pastDueExpensesInfo {
  margin-bottom: 16px;
  color: red
}

/* sign up form */
.signupForm {
  display: grid;
  align-items: center;
  gap: 12px 16px;
}


/* Icon buttons */
.actions {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
}

.iconButton.edit {
  background: none;
  border: none;
  cursor: pointer;
}

.iconButton.edit:hover {
  background-color: rgba(0, 255, 0, 0.1);

}

.iconButton.delete:hover {
  background-color: rgba(255, 0, 0, 0.1);
}