/* auth pages  */
.authFormContainer {
  background-color: lightgrey;
  max-width: 420px;
  margin: 100px auto;
  padding: 24px;
  border-radius: 16px;
  border-style: groove;
  border-width: 12px;
  min-height: 460px;
}

.authLogo {
  width: 240px;
  margin-bottom: 8px;
}


.authTitle {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  display: block;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.authForm label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
}

.authForm label span {
  margin-bottom: 6px;
  font-size: 14px;
  color: #444;
}

.authForm input {
  width: 60%;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-size: 16px;
  margin: 0px auto;
}

.authBtn {
  width: 60%;
  border-radius: 16px;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  margin: 12px auto;
  color: darkblue;
  background-color: darkgrey;
  cursor: pointer;
  transition: all 0.25s ease;
}

.authhover {
  background-color: grey;
  color: blue;
}

.authLinkContainer {
  padding: 30px;
}

.authLinkContainer span {
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
}
