/* auth pages - from top to bottom  */
.authFormContainer {
  background-color: lightgrey;
  max-width: 700px;
  margin: 50px auto;
  padding: 28px;
  border-radius: 16px;
  border-style: groove;
  border-width: 8px;
  min-height: 460px;
}

.authLogo {
  width: 240px;
  margin-bottom: 0px;
}

.authTitle {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  background: linear-gradient(135deg, darkblue, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.authForm label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
}

.authForm label span {
  margin-bottom: 6px;
  font-size: 14px;
  color: #444;
}

.authForm input {
  width: 70%;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-size: 16px;
  margin: 0px auto;
}

.authSubmitBtn {
  width: 60%;
  border-radius: 16px;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  margin: 12px auto;
  color: darkblue;
  background-color: darkgrey;
  cursor: pointer;
  transition: all 0.25s ease;
}

.authSubmitBtn:hover {
  background-color: grey;
  color: blue;
}

.authLinkContainer {
  padding: 30px;
}

.authLinkContainer span {
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
}