/* Global Styles */

* {
  box-sizing: border-box;
}

#root {
  text-align: center;
}


.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  background: #dbe4f2;
  margin: 0;
}

body.authPages {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #0f172a, #1e40af);
}



.content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;
  flex: 1;
}


.errorMessage {
  color: crimson;
  width: 100%;
  font-weight: bold;
}
